.grid-container {
  display: grid;
  grid-template-columns: 180px 180px 290px 180px 180px;
  grid-gap: 20px;
  margin: 70px;
  margin-top: 30px;
  grid-auto-rows: minmax(100px auto);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.grid-container>div {
  background-color: white;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

.image {
  padding-left: 30px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.footer {
  margin-left: 80px;
  font-size: 18px;
}